* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- Start Styling -- */
.dirk {
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: rgb(129, 129, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    background: linear-gradient(rgba(0, 0, 0, 0.775), rgba(0, 0, 0, 0.5)), url('../img/achtergrond0.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .paginatitel2 {
        color: beige;
        font-size: 3.5rem;
        margin: 1rem;
        font-family: 'Grandstander', cursive;
        letter-spacing: 0.5rem;
        text-align: center;
    }

    .linkbox {
        width: 50%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        a {
            color: rgb(226, 216, 216);
            text-decoration: none;
            border: 1px solid rgb(225, 165, 54);
            padding: 10px 30px;
            border-radius: 5px;
            text-transform: uppercase;
            margin: 10px;
            text-align: center;
        }

        a:hover {
            background-color: rgb(223, 156, 31);
            border: 1px solid rgb(223, 211, 211);
        }
    }

    .container {
        background-color: aliceblue;
        margin-top: 100px;

        .kaart {
            border: 5px solid lavender;
            background-color: rgb(36, 128, 199);
            width: 350px;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;

            h1 {
                color: rgb(255, 255, 255);
                width: 90%;
                margin: 0 auto;
                padding: 10px 0px;
                font-family: 'Roboto', sans-serif;
                font-weight: 200;
                font-size: 0.7rem;
                letter-spacing: 1px;
            }

            .users {
                font-size: 3rem;
                color: aliceblue;
                width: 90%;
                margin: 0 auto;

                font-family: 'Roboto', sans-serif;
                font-weight: 200;
                letter-spacing: 1px;
            }

            .top {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                color: rgba(247, 245, 244, 0.761);
                font-size: .7rem;
                margin: 10px;
                border-bottom: 1px solid rgba(245, 245, 245, 0.419);
                padding: 5px;
            }

            .counterbox {
                display: flex;
                justify-content: space-evenly;
                padding: 35px 0px 20px;
                width: 90%;
                margin: 0 auto;
                align-items: flex-end;

                h6 {
                    margin: 0 1px;
                    width: 20px;
                    background-color: antiquewhite;
                }

                h6:nth-child(1) {
                    height: 30px;
                }

                h6:nth-child(2) {

                    height: 20px;
                }

                h6:nth-child(3) {

                    height: 22px;
                }

                h6:nth-child(4) {
                    height: 45px;
                }

                h6:nth-child(5) {

                    height: 24px;
                }

                h6:nth-child(6) {
                    height: 40px;
                }

                h6:nth-child(7) {
                    height: 40px;
                }

                h6:nth-child(8) {
                    height: 60px;
                }

                h6:nth-child(9) {
                    height: 35px;
                }

                h6:nth-child(10) {
                    height: 50px;
                }

                h6:nth-child(11) {
                    height: 65px;
                }

                h6:nth-child(12) {
                    height: 45px;
                }

                h6:nth-child(13) {
                    height: 42px;
                }

                h6:nth-child(14) {
                    height: 30px;
                }

                h6:nth-child(15) {
                    height: 38px;
                }

                h6:nth-child(16) {
                    height: 33px;
                }

                h6:nth-child(17) {
                    height: 28px;
                }

                h6:nth-child(18) {
                    height: 50px;
                }

                h6:nth-child(19) {
                    height: 35px;
                }

                h6:nth-child(20) {
                    height: 45px;
                }

                h6:nth-child(21) {
                    height: 35px;
                }

                h6:nth-child(21) {
                    height: 38px;
                }

                h6:nth-child(22) {
                    height: 25px;
                }

                h6:nth-child(23) {
                    height: 30px;
                }

                h6:nth-child(24) {
                    height: 35px;
                }

                h6:nth-child(24) {
                    height: 37px;
                }

                h6:nth-child(25) {
                    height: 30px;
                }

                h6:nth-child(26) {
                    height: 33px;
                }

                h6:nth-child(27) {
                    height: 40px;
                }

                h6:nth-child(28) {
                    height: 43px;
                }

                h6:nth-child(29) {
                    height: 40px;
                }

                h6:nth-child(30) {
                    height: 20px;
                }


            }

            .info {
                display: flex;
                flex-direction: column;

                .top2 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    color: rgba(247, 245, 244, 0.761);
                    font-size: .7rem;
                    border-bottom: 1px solid rgba(245, 245, 245, 0.419);

                }

                p {
                    color: whitesmoke;
                    width: 90%;
                    margin: 0 auto;
                    padding: 10px 0px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
                    font-family: 'Lato', sans-serif;
                    font-size: 0.7rem;
                    letter-spacing: 1px;

                    span {
                        float: right;
                    }
                }

                .bottom {
                    border: none;
                }
            }

            .report {
                text-align: right;
                border-top: 1px solid rgba(255, 255, 255, 0.35);
                width: 100%;
                margin-top: 20px;
                padding-right: 15px;
                border-bottom: none;
                color: rgb(237, 229, 229);
                padding-top: 10px;
                font-family: "Lato";
                font-size: 15px;
            }
        }
    }
}

/* --sµStart Media Querie -- */
@media only screen and (max-width: 1284px) {
    .linkbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;

        a {
            text-align: center;
            min-width: 30%;
            font-size: 0.7rem;
        }
    }

}

@media only screen and (max-width: 753px) {
    .dirk {
        .paginatitel2 {
            text-align: center;
            font-size: 2rem;
            margin: 0;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 370px) {
    .dirk {
        .paginatitel2 {
            font-size: 0.8rem;
        }  
        .linkbox{ 
            margin: 0;
            a{
                text-align: center;
        font-size: 0.5rem;
        font-family: "lato";
        padding:5px 5px;
            }
        } 
      .container{
        margin-top: 0;
            .kaart{
                width: 150px;
            } 
            .info{
              text-align: center;
              word-wrap: break-word;              
            }
        }   
    }
}