/*--  Import Shared Partial --*/
@import "../css/partials/sharedPartial";

/* -- Start Styling -- */
.landing {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(129, 129, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    @include achtergrond;
    .contentbox{  
           
        .paginatitel {
            color: $paginatitel;
            font-size: $font-titel;
            margin: 1rem;
            font-family: 'Grandstander', cursive;
            letter-spacing: 0.5rem;
            text-align: center;
        }
    
        .linkbox {
            width: 30%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;            
            margin: 0 auto;
    
            a {
                color: $buttoncolor;
                text-decoration: none;
                border: 1px solid $button-border;
                padding: 10px 30px;
                border-radius: 5px;
                text-transform: uppercase;
                margin: 10px;
                text-align: center;
            }
    
            a:hover {
                background-color: $button-border-bg-hover;
                border: 1px solid rgb(213, 201, 201);
            }
        }
    
    }

    .container {
        max-width: 496px;
        height: 265px;
        display: flex;        
        margin-top: 30px;
        .boxleft {
            width: 40%;
            background-image: url(../img/foto3.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .boxright {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 60%;
            background-color: beige;
            height: 100%;

            .tekstrechts {

                .titel {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 0.9rem;
                    margin-top: 10px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 600;
                }

                .tekst {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 0.8rem;
                    margin-top: 15px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 200;

                }
            }
        }

        .infobox {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-around;

            .foto {
                img {
                    border-radius: 50%;
                    height: 50px;
                    width: auto;
                }
            }

            .naam {
                margin-top: 12px;

                p {
                    font-size: .7rem;
                }
            }

            .tekens {
                margin-top: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: rgb(9, 9, 9);

                }
            }
        }
    }
}

@media only screen and (max-width: 370px) {
    .container{
        flex-direction: column-reverse;
    }
  .infobox{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}