/* -- variables titel -- */
$paginatitel : rgb(206, 195, 195);
$buttoncolor :rgb(206, 195, 195) ;
$button-border:rgb(255, 165, 0);
$button-bg:rgb(172, 122, 31);
$button-border-bg-hover:rgb(206, 195, 195);

/*-- Basic Reset --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--  Start Styling van landingspagina --*/
.start {
    height: 100vh;
    width: 100vw;
    background-color: rgb(129, 129, 206);
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: antiquewhite;
    background: linear-gradient( rgba(0, 0, 0, 0.775), rgba(0, 0, 0, 0.5) ), url('../img/achtergrond0.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .paginatitel {
        color: $paginatitel;
        font-size: 3.55rem;
        font-family: 'Grandstander', cursive;        
        letter-spacing: 0.2rem;
        text-align: center;
    }
    .linkbox {        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;       
        width: 30%;
        margin: 50px auto;
        a {
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            color: $buttoncolor;            
            border: 1px solid $buttonborder;
            padding: 10px 30px;
            border-radius: 5px;
            text-transform: uppercase;
            margin:15px;     
            width: 100%;       
            text-align: center;
        }
        a:hover{
            background-color: $button-bg;
            border:1px solid rgb(213, 201, 201);
        }
    }
}
/* -- Media queries for landingspage -- */
@media only screen and (max-width: 753px) {
    .start{
        .paginatitel{
            font-size: 1rem;
            
        }
        .linkbox{
            border: 2px solid red;
            a{
                font-size: 10px;
                margin:10px; 
                padding: 5px;  
                text-align: center;         
                
            }
        }
    }
}
