/*--  Import Shared Partial --*/
@import "../css/partials/sharedPartial";

/*--  Start Styling van landingspagina --*/

.start {
    height: 100vh;
    width: 100vw;
    background-color: rgb(129, 129, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    @include achtergrond;

    .paginatitel {
        color: $paginatitel;
        font-size: $font-titel;
        font-family: 'Grandstander', cursive;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    .linkbox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 30%;
        margin: 50px auto;

        a {
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            color: $buttoncolor;
            border: 1px solid  rgb(255, 165, 0);
            padding: 10px 30px;
            border-radius: 5px;
            text-transform: uppercase;
            margin: 15px;
            width: 100%;
            text-align: center;
        }

        a:hover {
            background-color: $button-bg;
            border: 1px solid rgb(213, 201, 201);
        }
    }
}

/* -- Media queries for landingspage -- */
@media only screen and (max-width: 753px) {
    .start {
        .contentbox {
            .paginatitel {
                font-size: 1rem;
            }
            .linkbox {
                width: 60%;
                
                a {
                  font-size: 0.7rem;
                  letter-spacing: 1px;
                    margin: 10px;                    
                    text-align: center;
                    padding: 20px;
                }
            }
        }
    }
}